.container {
    width: 1280px;
    margin: 0 auto;
    float: left;    
   
}
.banner {
    width: 1280px;
    height: 100px;
    background-color: #c09f80;

    text-align: center;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    font-size: 50px;
    line-height:100px;

}

.container2 {
    width: 1280px;
    height: 65px;
    background-color:  #d7cec7;
}

.backmainpage {
    width: 100px;
    height: 35px;
    background-color: #c09f80;
    margin: 2px 1180px 2px 0px;
    float:left;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    color:#FFFFFF;
    font-weight:300; 
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    line-height:35px
  
}

.container3 {
    width: 380px;
    height: 700px; 
    background-color: #d7cec7;
    float: left;
}

.container4 {
    width: 900px;
    height: 700px;
    float: left;
    background-color:  #d7cec7;
  
}
.textarea {
    width: 750px;
    height: 55px;
    background-color:#d7cec7;
    margin: 15px 50px 30px 0px;
    float:left;
    text-align: center;

    font-size: 15px;
    line-height: 55px;
}
.textarea:hover{
    background-color: #E7DFDD;
}

.box{
    
    width: 250px;
    height: 55px;
    background-color: #d7cec7;
    margin: 15px 50px 15px 100px;
    float:left;
    
    font-size: 15px;
    text-align: center;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    color:rgb(73, 54, 54);
    font-weight:300; 
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    line-height:55px
    
   
}
.box:hover{
    border-color:#d7cec7;
    background-color:#E7DFDD;
}

.boxx{
    
    width: 250px;
    height: 55px;
    background-color: #c09f80;
    margin: 0px 10px;
    float:left;
    
    font-size: 15px;
    text-align: center;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    color:#FFFFFF;
    font-weight:300; 
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    line-height:55px
    
   
}
.boxx:hover{

    border-color: #E7DFDD;
    background-color:#d7cec7;
}


.menuboxx{
    
    width: 120px;
    height: 40px;
    background-color: #c09f80;
    margin: 15px 10px 5px 10px;
    float:left;
    
    font-size: 15px;
    text-align: center;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    color:#FFFFFF;
    font-weight:300; 
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    line-height:40px;
    
   
}
.menuboxx:hover{

    border-color: #E7DFDD;
    background-color: #72363f;
}

input[type=submit] {
    width: 250px;
    height: 63px;
    background-color: #c09f80;
    margin: 0px 10px;
    float:left;
    content: "Submit";
    
    font-size: 15px;
    text-align: center;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    color:#FFFFFF;
    font-weight:300; 
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    line-height:55px
 }
 input[type=submit]:hover{
    border-color: #E7DFDD;
    background-color: #72363f;
    cursor: pointer;
 }

 


.signinbutton {
    width:220px;
    height: 45px;
    background-color:rgb(0, 105, 204);
    margin: 10px 20px 5px 400px;
    float:left;
   
}

.forgetpasswordbutton {
    width: 220px;
    height: 45px;
    background-color:rgb(0, 197, 204);
    margin: 10px 400px 5px 20px;
    float:left;
   
}

.footer {
    clear:both;
    width: 1280px;
    height: 25px;
    background-color: #72363f;
}

